
.grid {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.box {
  background-color:antiquewhite;
  border-color: black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gainsboro;
  height: 200px;
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.cur {
  flex: 1;
  align-content: center;
}

.hour {
  flex: 1;
}

/* .grid > div {
  flex-basis: calc(50% - 20px);
} */

.forecastBox {
  display:flex;
  justify-content: center;
  flex-direction: row;
  margin: 5px;
}

.forecasts {
  display: flex;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: smaller;
  align-content: center;
  margin:5px;
}

.forecasts > div {
  /* display: flex; */
  align-content:start;
  flex-wrap: wrap;
  flex-direction: row;
  font-family:Georgia, 'Times New Roman', Times, serif;
}


.forecasts p {
  margin: 5px 10px;
}

h1 {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}


h3 {
   margin: 5px;
   font-family: 'Courier New', Courier, monospace;
}

h4 {
  margin: 5px;
  font-family: 'Courier New', Courier, monospace;
}

body {
    padding: 10px;
}


input {
    margin: 5px;
}

label {
  font-family: 'Courier New', Courier, monospace;
}